* {
  margin: 0;
  padding: 0;
  font-family: "Verdana";
}

.page-title {
  text-align: center;
  padding: 24px;
}

#drop-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40vh;
  background-color: gray;
  margin: 0 auto;
  font-size: 24px;
}

.upload-file-button {
  font-size: 24px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

#drop-area.dragover {
  border: 1px solid red;
}
